<template name="sensorStatus">
  <div class="thumbnail">
    <div class="row">
      <div class="col-md-3">Lounge E</div>
      <div class="col-md-9"></div>
    </div>
    <div class="row">
      <div class="col-md-3">Lounge D</div>
      <div class="col-md-9"></div>
    </div>
    <div class="row">
      <div class="col-md-3">Lounge C</div>
      <div class="col-md-9"></div>
    </div>
    <div class="row">
      <div class="col-md-3">Lounge B</div>
      <div class="col-md-9"></div>
    </div>
    <div class="row">
      <div class="col-md-3">Lounge A</div>
      <div class="col-md-9"></div>
    </div>
  </div>
</template>