<template name="sensorStatus">
  <!--<div class="thumbnail">-->
    {{ currentStatus tower }}
    <div class="row">
      <div class="col-md-3">Lounge E</div>
      <div id="{{tower}}-12th-telco" class="col-md-4 label label-as-badge">12th Telco</div>
      <div class="col-md-1"></div>
      <div id="{{tower}}-12th-lounge" class="col-md-4 label label-as-badge">12th Lounge</div>

    </div>
    <div class="row">
      <div class="col-md-3">Lounge D</div>
      <div id="{{tower}}-10th-telco" class="col-md-4 label label-as-badge">10th Telco</div>
      <div class="col-md-1"></div>
      <div id="{{tower}}-10th-lounge" class="col-md-4 label label-as-badge">10th Lounge</div>
    </div>
    <div class="row">
      <div class="col-md-3">Lounge C</div>
      <div id="{{tower}}-8th-telco" class="col-md-4 label label-as-badge">8th Telco</div>
      <div class="col-md-1"></div>
      <div id="{{tower}}-8th-lounge" class="col-md-4 label label-as-badge">8th Lounge</div>
    </div>
    <div class="row">
      <div class="col-md-3">Lounge B</div>
      <div id="{{tower}}-6th-telco" class="col-md-4 label label-as-badge">6th Telco</div>
      <div class="col-md-1"></div>
      <div id="{{tower}}-6th-lounge" class="col-md-4 label label-as-badge">6th Lounge</div>
    </div>
    <div class="row">
      <div class="col-md-3">Lounge A</div>
      <div id="{{tower}}-4th-telco" class="col-md-4 label label-as-badge">4th Telco</div>
      <div class="col-md-1"></div>
      <div id="{{tower}}-4th-lounge" class="col-md-4 label label-as-badge">4th Lounge</div>
    </div>
  <!--</div>-->
</template>