<template name="status">
  <div class="template-dashboard">
    <div class="page-header">
<h4>Sensor status over the last week</h4>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-2 col-md-offset-5"><h4 class="text-capitalize" style="text-align: center">Ilima</h4></div>
        </div>
        {{> sensorStatus tower="ilima"}}
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-2 col-md-offset-5"><h4 class="text-capitalize" style="text-align: center">Lehua</h4></div>
        </div>
        {{> sensorStatus tower="lehua"}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-2 col-md-offset-5"><h4 class="text-capitalize" style="text-align: center">Lokelani</h4></div>
        </div>
        {{> sensorStatus tower="lokelani"}}
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-2 col-md-offset-5"><h4 class="text-capitalize" style="text-align: center">Mokihana</h4></div>
        </div>
        {{> sensorStatus tower="mokihana"}}
      </div>
    </div>
  </div>
  <p></p>
  <div class="row">
    <div class="col-md-3">
      <span class="label label-as-badge green">&nbsp;&nbsp;&nbsp;</span> &gt; 80% of expected measurements</div>
    <div class="col-md-3">
      <span class="label label-as-badge yellow">&nbsp;&nbsp;&nbsp;</span> 50% - 80% of expected measurements</div>
    <div class="col-md-3">
      <span class="label label-as-badge red">&nbsp;&nbsp;&nbsp;</span> &lt; 50% of expected measurements</div>
    <div class="col-md-3">
      <span class="label label-as-badge black">&nbsp;&nbsp;&nbsp;</span> no measurements</div>
  </div>
  <p></p>
</template>