<template name="power">
    <div class="template-power">
        <div class="row">
            <div class="col-md-6">
                {{> powerMeter tower="ilima"}}
            </div>
            <div class="col-md-6">
                {{> powerMeter tower="lehua"}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{> powerMeter tower="lokelani"}}
            </div>
            <div class="col-md-6">
                {{> powerMeter tower="mokihana"}}
            </div>
        </div>
    </div>

</template>