<template name="power">
    <div class="template-power">
        <div class="page-header">

        </div>

        <div class="row">
            <div class="col-md-6">
                <h4>Ilima Tower</h4>
                {{> powerMeter tower="ilima"}}
            </div>
            <div class="col-md-6">
                <h4>Lehua Tower</h4>
                {{> powerMeter tower="lehua"}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Lokelani Tower</h4>
                {{> powerMeter tower="lokelani"}}
            </div>
            <div class="col-md-6">
                <h4>Mokihana Tower</h4>
                {{> powerMeter tower="mokihana"}}
            </div>
        </div>
    </div>

</template>