<template name="tower">
    <div class="thumbnail">
        <div class="row">
            <div id="{{tower}}" class="col-md-12">
                Energy Usage:
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active"><a href="#{{tower}}_yearly" data-toggle="tab">Last 12 Months</a></li>
                    <li role="presentation"><a href="#{{tower}}_monthly" data-toggle="tab">Last 30 days</a></li>
                    <li role="presentation"><a href="#{{tower}}_daily" data-toggle="tab">Last 24 hours</a></li>
                </ul>
                <div class="tab-content">
                    <div id="{{tower}}_yearly" class="tab-pane active">{{tower}}'s energy use for the last year by month.
                        <div id="{{tower}}last12_chart">
                          {{> last12 towerId=tower }}
                        </div>
                    </div>
                    <div id="{{tower}}_monthly" class="tab-pane">{{tower}}'s energy use for the last month by day.
                        <div id="{{tower}}last30_chart">
                          {{> last30 towerId=tower }}
                        </div>
                    </div>
                    <div id="{{tower}}_daily" class="tab-pane">{{tower}}'s energy use for the last day by hour.
                        <div id="{{tower}}last24_chart">
                          {{> last24 towerId=tower }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                Notifications:
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                Heat Maps:
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active"><a href="#{{tower}}_heat_yearly" data-toggle="tab">Yearly</a></li>
                    <li role="presentation"><a href="#{{tower}}_heat_monthly" data-toggle="tab">Monthly</a></li>
                    <li role="presentation"><a href="#{{tower}}_heat_daily" data-toggle="tab">Daily</a></li>
                </ul>
                <div class="tab-content">
                    <div id="{{tower}}_heat_yearly" class="tab-pane active">{{tower}}'s Heat maps of energy use for the last year by month by lounge.

                    </div>
                    <div id="{{tower}}_heat_monthly" class="tab-pane">{{tower}}'s Heat maps of energy use for the last month by day by lounge.</div>
                    <div id="{{tower}}_heat_daily" class="tab-pane">{{tower}}'s Heat maps of energy use for the last day by hour by lounge.</div>
                </div>
            </div>
        </div>
    </div>
</template>