<template name="heatmap">
    <div class="template-heatmap">
        <div class="page-header">

        </div>

        <div class="row">
            <div class="col-md-6">
                <h4>Ilima Tower</h4>
            </div>
            <div class="col-md-6">
                <h4>Lehua Tower</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Lokelani Tower</h4>
            </div>
            <div class="col-md-6">
                <h4>Mokihana Tower</h4>
            </div>
        </div>
    </div>
</template>