<template name="expected">
  <div class="thumbnail">
    <div class="row">
      <div id="{{tower}}" class="col-md-12">
        <ul class="nav nav-tabs">
          <li role="presentation" class="active"><a href="#{{tower}}Next24hours" data-toggle="tab">Next 24
            hours</a></li>
          <li role="presentation"><a href="#{{tower}}Next7days" data-toggle="tab">Next 7 days</a></li>
        </ul>
        <div class="tab-content">
          {{> next24Hours tower=tower }}
          {{> next7Days tower=tower }}
        </div>
      </div>
    </div>
  </div>

</template>